<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Post Demo</title>
<link rel="stylesheet" type="text/css" href="../css/post-demo.css">
<link rel="stylesheet" type="text/css" href="../css/grid.css">
<link rel="stylesheet" type="text/css" href="../css/layout.css">
</head>

<body>
	<div class="row">
    	<div class="col-10-12 col-offset-1-12 header-img">
        	<img src="../images/project/project.jpeg" alt="image">
        </div>
    </div>
     <div class="clean"></div>
    
	<div class="row">
    	<div class="header">
        	<h1>Post Title</h1>
        </div>
    </div>
    <div class="row">
    	<div class="attributes">
        	<p>05/30/2015 17:56 ● TAG</p>
        </div>
    </div>

    
    <div class="row">
    	<div class="col-10-12 col-offset-1-12 paragraph">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h1>This is h1</h1>
            <h2>This is h2</h2>
            <h3>This is h3</h3>
            <h4>This is h4</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    
    <div class="row">
    	<div class="col-1-2 col-offset-1-4 media">
        	<img src="../images/demo-header.png" alt="image">
        </div>
    </div>
    <div class="clean"></div>
    <div class="row">
    	<div class="media-description">
        	<h3>Figure Name</h3>
        </div>
    </div>
    <div class="clean"></div>
    
    <div class="row">
    	<div class="col-10-12 col-offset-1-12 paragraph">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="clean"></div>
    
    
    <div class="row">
    	<div class="col-10-12 col-offset-1-12 footer">
        	<hr>
      		<p>This is footer -  shareable button/comment. </p>
        </div>
    </div>
</body>
</html>
