---
layout: default
title: blog
---
<div class="post">
	<div class="row">
		<div class="col-10-12 col-offset-1-12 header-img">
			<img src="../images/project/project.jpeg" alt="image">
		</div>
	</div>
	<div class="clean"></div>
	
	<div class="row">
		<div class="header">
			<h1>{{ post.title }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="attributes">
			<p>{{ post.date }} ● {{ post.tag }}</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-10-12 col-offset-1-12 paragraph">
			{{content}}
		</div>
	</div>
	
	<div class="clean"></div>
	
	
	<div class="row">
		<div class="col-10-12 col-offset-1-12 footer">
			<hr>
			<p>This is footer -  shareable button/comment. </p>
		</div>
	</div>
</div>